{% extends "layout.html" %}


{% block main %}

<h2 class="text-4xl font-semibold text-off-black text-center mb-8">
	Choose your dining hall:
</h2>

<noscript>This form requires that you have javascript enabled to work properly please enable javascript in your
	browser.</noscript>

<form action="/review" method="get">
	<select name="location" class="w-full px-3 py-2.5 border border-2 text-heading shadow-md rounded-md"
		onchange="this.form.submit()">
		<option value="" disabled selected>Dining Halls</option>
		{% for dhall in dhalls %}

		<option value="{{ dhall['location_number'] }}">{{ dhall["location_name"] }}</option>

		{% endfor %}
	</select>
</form>

{% endblock %}
