<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/f21a1f864f.js" crossorigin="anonymous"></script>

    <link href="/static/styles.css" rel="stylesheet" />

    <style type="text/tailwindcss">
        @theme {
      --color-off-black: #020202;
      --color-dim-gray: #676767;
      --color-azure-mist: #E6FAFA;
      --color-mint-leaf: #5FBB97;
      --color-crimson: #950A22;
      --color-stone: #C4C4C4;
    }
    </style>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Munch!</title>
</head>

<body class="bg-stone">

    <!-- TOP TITLE BLOCK -->
    <header class="relative w-full bg-stone h-60 flex justify-center items-center">
        <a href="{{ url_for('index') }}" class="hover:opacity-80 transition">
            <img src="{{ url_for('static', filename='IMG_2249.png') }}" alt="Munch Logo"
                class="max-h-70 w-6/7 mx-auto" />
        </a>

        <!-- Wave at the bottom -->
        <div class="absolute bottom-0 left-0 w-full leading-[0]">
            <svg class="block w-full h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 20"
                preserveAspectRatio="none">
                <path
                    d="M0,10 C5,0 15,0 20,10 S35,20 40,10 S55,0 60,10 S75,20 80,10 S95,0 100,10 S115,20 120,10 V20 H0 Z"
                    fill="#E6FAFA" />
            </svg>
        </div>
    </header>




    <!-- MAIN: full-width blue, centered inner column -->
    <main class="w-full bg-azure-mist min-h-screen pt-4 pb-10">
        <div class="w-full max-w-md mx-auto px-4">
            {% block main %}{% endblock %}
        </div>
    </main>

</body>

</html>